@import url();
body{
    padding: 0;
    margin: 0;
    line-height:0;
    font-family: 'Noto Sans JP', sans-serif;
    background:url(imagen1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.logo{
    width: 300px;
}


header{
    width: 100%;
    background-color: rgb(14, 14, 12);
}

nav{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
}

.menu{
    display: flex;
}
.menu li{
    /* padding: 0 40px; */
    list-style: none;
    transition: 0.3s;
}
.menu li a{
    padding: 10px 40px;
    text-decoration: none ;
    font-size: 1.4rem;
    color: yellow;
    font-weight: 600;
}
.menu li a:hover{
    background:cadetblue;

}
.imagen2{
    width: 650px;
    height: 580px;
    padding: 40px;;
    float: right;
    
}

@media screen and (max-width: 903px) {
    .logo{
        width: 200px;
    }

    .menu li a{
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 610px) {
    
    nav {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        justify-content: center;
    }
}